images/
img/

*/__pycache__/
__pyache__/
*.pyc

.mlops/

VehicleVision/models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data & logs (customize as needed)
*.log

# OS files
.DS_Store
Thumbs.db
